 h1 { Margin:20px
      color- orange;
      font-size :20px;
      font-family: Times New Romans;
      font-weight:300 bold;
      text-align:center;
  }
 body { background-image: url("storage/6658-E3C4//IMG-20260527-WA0012.jpg");
      }
 nav { Margin:20px
      color- orange;
      font-size :20px;
      font-family: Times New Romans;
      font-weight:300 bold;
      text-align:left;
  }
