 h1 { Margin:20px
      color- orange;
      font-size :20px;
      font-family: Times New Romans;
      font-weight:300 bold;
      text-align:center;
  }
 body { background-color: aquamarine;
    }
 nav { Margin:20px
      color- orange;
      font-size :20px;
      font-family: Times New Romans;
      font-weight:300 bold;
      text-align:left;
  }
